body {
  	background-image: url('media/Background.png');
	margin: 0px;
}
header {
	width:100%;
	position:fixed;
	height:2.5vw;
	z-index:0;
}
nav {
	float:right;
	font-size:1.2vw;
	list-style:none;
	position:fixed;
	top:0;
	right:0;
	width:100%;
	text-align:center;
	background-color:#000000;
	opacity:0.75;
	z-index:-1;
	vertical-align:middle;
}
li {
	display:inline;
}
#Links {
	display:flex;
	justify-content:center;
   	align-items:center;
	border-left:1px solid #a1a1a1;
	width:10%;
	text-decoration:none;
	color:#a1a1a1;
	z-index:0;
	float:right;
	height:2.5vw;
}
#Links:hover {
	background-color:#808080;
	color:#000000;
}
#Title {
	display:flex;
	justify-content:center;
   	align-items:center;
	float:left;
	margin-left:0.5%;
	text-decoration:none;
	color:#a1a1a1;
	z-index:0;
	font-size:1.8vw;
	height:2.5vw;
}
#TitleImage {
	margin-left:1%;
	z-index:0;
	float:left;
	height:2.5vw;
}
#CoverImage {
	float:left;
	clear:both;
	width:100%;
	text-align:center;
}
#Eboard {
	height:6vw;
	width:100%;
	clear:both;
	background-color:#c08081;
}
#Bios {
	width:15%;
	margin-left:1%;
	margin-top:1%;
}
#Signature {
	text-align:right;
	margin-right:20%;
}
#Profile {
	height:100%;
	float:left;
	margin-top:2%;
}
#PTitle {
	font-size:1vw;
}
footer {
	background-color:000000;
	height:2vw;
	color:#a1a1a1;
}